<p> Bestenliste</p>
<div id="container">
  <div class="row">
      <div class="name">Player 1</div><div class="score">500</div>
  </div>
  
  <div class="row">
      <div class="name">Player 2</div><div class="score">480</div>
  </div>
  
  <div class="row">
      <div class="name">Player 3</div><div class="score">310</div>
  </div>
  
  <div class="row">
      <div class="name">Player 4</div><div class="score">240</div>
  </div>
  
  <div class="row">
      <div class="name">Player 5</div><div class="score">190</div>
  </div>
</div>
<img [src]="crown">
